.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #4e4e4e;
  color: #fff;
}
.header li {
  list-style-type: none;
}
.header .header-center {
  display: block;
  width: 1200px;
  margin: 0px auto;
}
.header .header-center__gnb {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  position: relative;
  top: 60px;
}