.container{
    display: block;
    width:1200px;
    margin:0px auto;
}
.center{
    margin: 0px auto;
}

.board{
    &__list{
        width: 100%;
        height: 50px;
        span{
            display: inline-block
        }
        &-item{

            &-postNo{
                width:30px;
            }
            &-postTitle{
                width:180px;
                text-overflow: ellipsis;
            }
            &-postAuth{
                width:80px;
            }
            &-postDate{
                width:160px;
            }
        }
    }
    &__write{

    }
    &__view{

    }
}

.post{
    text-align: left;
}