.container{
    display: block;
    width:1200px;
    margin:0px auto;
}
.center{
    margin: 0px auto;
}

.board{
    &__list{
        span{
            display: inline-block
        }
        &-no{
            width:30px;
        }
        &-title{
            width:180px;
            text-overflow: ellipsis;
        }
        &-author{
            width:80px;
        }
        &-date{
            width:160px;
        }
    }
}

.post{
    text-align: left;
}