.container{
    display: block;
    width:1200px;
    margin:0px auto;
}
.center{
    margin: 0px auto;
}

.board{
    &__list{
        width: 1200px;
        height: 440px;
        margin: 100px auto;
        span{
            display: inline-block
        }
        &-item{
            display: flex;
            align-items: center;
            padding: 15px;
            height: 40px;
            border-bottom: 1px solid #ccc;
            &-postNo{
                width:30px;
            }
            &-postTitle{
                text-overflow: ellipsis;
            }
            &-postAuth{
                width:80px;
            }
            &-postDate{
                width:160px;
                margin-left: auto;
            }
        }
    }
    &__write{

    }
    &__view{

    }
}

.post{
    text-align: left;
}

.btn{
    outline: none;
    background: rgb(255, 108, 50);
    .off{
        background: #4e4e4e;
    }
}