.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background:#4e4e4e;
    color: #fff;
    z-index: 99;
    li{
        list-style-type: none;
    }
    .header-left{
        position: absolute;
        left: 2em;
        color: #fff;
        &__logo{
            display: block;
            height: 100%;
            margin: 0px auto;
        }
    }
    .header-center{
        display: block;
        width: 1200px;
        margin: 0px auto;
        &__gnb{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .header-right{
        position: absolute;
        color: #fff;
        top:0px;
        right: 20px;
        height:100%;
    }
}

.main{
    position: relative;
    top: 60px;
}

.footer{

}

.container{
    display: block;
    width: 1200px;
<<<<<<<< HEAD:.metadata/.plugins/org.eclipse.wst.server.core/tmp1/wtpwebapps/JSP06/scss/layout.scss
========
}

a{
    text-decoration: none;
>>>>>>>> e6c92a2f1cbe6272c44ed1aedd66b4d7855ecf88:JSP07Model2/src/main/webapp/scss/layout.scss
}