.container {
  display: block;
  width: 1200px;
  margin: 0px auto;
}

.center {
  margin: 0px auto;
}

.board {
  width: 1200px;
  margin: 100px auto;
}
.board th, .board td {
  padding: 15px;
  border: 1px solid #ccc;
}
.board textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  resize: none;
  overflow-y: auto;
}
.board input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.board .form .btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.board .form .btns button {
  min-width: 120px;
  padding: 20px 0px;
  margin: 0px 5px;
  display: flex;
  border-radius: 5px;
  border: none;
}
.board .form .btns button.confirm {
  background: #0df;
}
.board .form .btns button.reset {
  background: #333;
}
.board__list span {
  display: inline-block;
}
.board__list-no {
  width: 30px;
}
.board__list-title {
  width: 180px;
  text-overflow: ellipsis;
}
.board__list-author {
  width: 80px;
}
.board__list-date {
  width: 160px;
}

.post {
  text-align: left;
}